.ec-header {
  border-bottom-style: none;
  border-bottom-color: rgba(255, 255, 255, 0);
}

.ec-day {
  border: 0px solid hsla(86, 100%, 50%, 0);
  /* border-color: #145af1; */
  text-decoration: none !important;
  text-transform: capitalize;
}

.ec-day,
.ec-bg-events {
  height: 30px;
  width: 30px;
  display: block;
}

.ec-day-grid .ec-day-head {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}

.ec-start {
  color: #145af1;
  font-family: Poppins !important;
  padding-bottom: 40px;
  font-weight: normal;
}

h2:first-letter {
  text-transform: uppercase;
  font-weight: normal;
}

h2 {
  font-size: 30px;
  font-weight: normal;
  border-bottom: 2px solid #bdbdbd;
  padding-bottom: 10px;
  padding-left: 90px;
  padding-right: 90px;
}

.ec-button {
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
  color: #2c2d31;
  border-color: #bdbdbd;
}

.ec-prev,
.ec-next {
  border: none;
  border-radius: 20px !important;
  padding: 3px 5px 3px 5px !important;
}

.ec-mon {
  background-color: white !important;
}

.ec-day time[datetime="2025-06-02"] {
  background-color: #145af1 !important;
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
  display: inline-block;
}
