body {
  font-family: "Poppins", sans-serif;
}

label {
  font-weight: bolder;
}
::placeholder {
  color: lightskyblue !important;
  opacity: 3;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: lightskyblue !important;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: lightskyblue !important;
  opacity: 3;
}

.nav-item {
  color: #2c2d31;
}

h2 {
  text-align: left;
  color: #145af1;
  margin-top: 30px;
}

#msg {
  height: 60px;
}
#grid-contatos tbody {
  cursor: pointer;
}

div.card {
  border-color: #145af1 !important;
  border-radius: 20px;
  text-align: center;
  border: solid 2px;
}

.card-title {
  margin-top: 20px;
}

.card button.btn {
  border-radius: 20px;
  border-color: transparent;
  background-color: #145af1;
}

.card-corner-btn button.btn {
  border-color: transparent !important;
  background-color: #bdbdbd !important;
  position: absolute;
  margin-right: 3px;
  margin-top: 3px;
}

.btn-download {
  color: white;
  border-color: transparent !important;
  background-color: #145af1 !important;
  position: absolute;
  margin-right: 3px;
  margin-top: 3px;
}

.caderno-display {
  height: 22rem;
  margin: 20px;
}

.grup-cards {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border-color: #bdbdbd;
  border-style: solid;
  padding: 40px;
  border-width: 1px;
}

.btn-todos-cadernos {
  margin: 30px;
  border-radius: 20px;
  width: 150px;
}

.btn-outline-secondary {
  border-color: transparent;
  background-color: transparent;
  color: #2c2d31;
}

.btn-primary {
  border-radius: 20px;
}

.breadcrumb-item {
  color: #bdbdbd;
  text-decoration: none;
}

.dropdown-toggle {
  background-color: transparent;
  color: #2c2d31;
  border-color: transparent;
  border-radius: 20px;
  padding: 5px 50px 5px 50px;
}

.icon-notebook {
  border-color: #145af1 !important;
  border: solid 3px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 45%;
  z-index: 1000;
  top: -20px;
  background-color: white;
}

.icon-notebook i {
  position: absolute;
  left: 10px;
  top: 5px;
}

/* modal */
.modal-dialog {
  padding-top: 150px;
}

.modal-content {
  padding-top: 20px;
}

.bi-stickies {
  color: #145af1;
  padding: 10px;
}

.btn-modal-feito {
  background-color: white;
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
  border-color: 1px solid #145af1;
  color: #2c2d31;
}

.modal-header,
.modal-footer {
  border: none !important;
  font-style: normal;
}

.detalhes-caderno {
  background-color: #f5f5f5;
  border-radius: 20px;
  margin: 30px;
}
