/* TODO: move this to a common css file */
body {
  font-family: "Poppins", sans-serif;
}

label {
  font-weight: bolder;
}
::placeholder {
  color: lightskyblue !important;
  opacity: 3;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: lightskyblue !important;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: lightskyblue !important;
  opacity: 3;
}


/* modal */
.modal-dialog {
  padding-top: 150px;
}

.modal-content {
  padding-top: 20px;
}

.bi-stickies {
  color: #145af1;
  padding: 10px;
}

.btn-modal {
  background-color: white;
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
  border-color: 1px solid #145af1;
  color: #2c2d31;
}

.modal-header,
.modal-footer {
  border: none !important;
  font-style: normal;
}

.detalhes-caderno {
  background-color: #f5f5f5;
  border-radius: 20px;
  margin: 30px;
}

.btn-icone-modal {
  background-color: white;
  padding: 5px 25px;
  border-radius: 4px;
  border-color: 2px solid #2c2d31;
}
